@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --blue-color: #1e90ff; 
    --bluedark-color: #044b91; 
    --white-color: #ffffff;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
  }

header{
    background: var(--blue-color);
    color: var(--white-color);
    padding: 15px 0;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 32px;
}

.navigation ul {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
margin: 0;
}
.navigation ul:hover li a {
filter: blur(2px);
}
.navigation ul li a {
text-decoration: none;
color: var(--white-color);
font-size: 1.1rem;
font-weight: 500;
display: inline;
transition: .2s;
}

.navigation ul li a:hover {
filter: blur(0);
}




footer {
    background: var(--bluedark-color);
    color: var(--white-color);
    padding: 15px 0;
}